*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

.App{
  font-family:Georgia, 'Times New Roman', Times, serif;
  min-height: 100vh;
  height:auto ;
  width: 100%;
  background: -webkit-gradient(linear , left bottom, left top , from(rgb(249, 249, 180)) , to(rgb(249, 249, 245)));
  background: -o-linear-gradient(bottom , rgb(249, 249, 180) , rgb(249, 249, 245));
  background: linear-gradient(0deg , rgb(249, 249, 180) , rgb(249, 249, 245));
  padding: 10px;
}

.header{
  height:8rem;
  text-align: center;
}

.header::-webkit-scrollbar {
  display: none;
}

.header img{
  height: 100%;
  width: auto;
}

.section__1{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

p{
  font-size: 16px;
  line-height:1.2;
}

.award__img{
  width: 100%;
  height: auto;
}

.right__component img{
  width:100%;
  height: auto;
}

ul li {list-style-type: disc;}

.section__2{
  margin:10px 0 1.8rem 0;
}

.products{
  padding: 20px 10rem;
  border-bottom: 3px solid rgb(188, 16, 16);
}

.products > img {
  width: 100%;
  height: auto;
}

.facility{
  padding:0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer{
  background-color: rgb(239, 59, 59);
  padding:3rem 10px;
}

.socials{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.socials div{
  margin: 5px;
}

@media(max-width:1000px){
  .products{
   padding: 20px;
  }
 }

@media (max-width:720px) {
  .section__1{
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
  }
  .section__1 > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section__1 > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .award__img{
    width: 50%;
    height: auto;
  }
  p{
    font-size: 14px;
  }
  .footer{
    padding:2rem;
  }
  .facility{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding:0 10px 0 0;
  }
}

@media(max-width:400px){
  h2{
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .header{
    height: auto;
  }
  .header img{
    width: 100%;
    height: auto;
  }

  .products{
    padding: 10px 0;
  }
  .footer{
    padding: 1rem 10px;
  }
}