*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* *::-webkit-scrollbar {
  display: none;
} */

.App{
  min-height: 100vh;
  height:auto ;
  width: 100%;
  background: linear-gradient(0deg , rgb(249, 249, 180) , rgb(249, 249, 245));
  padding: 10px;
}

.header{
  height:8rem;
  text-align: center;
}

.header::-webkit-scrollbar {
  display: none;
}

.header img{
  height: 100%;
  width: auto;
}

.section__1{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

p{
  font-size: 18px;
}

.award__img{
  width: 100%;
  height: auto;
}

.right__component img{
  width:100%;
  height: auto;
}

.section__2{
  margin:10px 0 1.8rem 0;
}

.products{
  padding: 20px 10rem;
  border-bottom: 3px solid rgb(188, 16, 16);
}

.products > img {
  width: 100%;
  height: auto;
}

.facility{
  padding:0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer{
  background-color: rgb(239, 59, 59);
  padding:3rem 10px;
}

.socials{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.socials div{
  margin: 5px;
}

@media(max-width:1000px){
  .products{
   padding: 20px;
  }
 }

@media (max-width:720px) {
  .section__1{
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }
  .award__img{
    width: 50%;
    height: auto;
  }
  p{
    font-size: 15px;
  }
  .footer{
    padding:2rem;
  }
  .facility{
    justify-content: flex-start;
    padding:0 10px 0 0;
  }
}

@media(max-width:400px){
  .header{
    height: auto;
  }
  .header img{
    width: 100%;
    height: auto;
  }

  .products{
    padding: 10px;
  }
  .footer{
    padding: 1rem 10px;
  }
}
